@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

:root {

    /* Width Variables */
    --width-full: 100%;
    --width-12col: 1200px;

    /* Grid Settings */
    --grid-gap: 10px;
    --padding-default: 20px;

    /* Color swatches */
    --background-color-navigation: #00000018;
    --background-color-light: #ededed;
    --color-dark: #1b1e2e;
    --color-blue: #21a1d9;
    --color-orange: #db8127;
}

* {
    /* Reset CSS */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    width: var(--width-full);
    font-family: 'Inter', sans-serif;
    position: relative;
    background-color: var(--background-color-light);
    /* background-color: var(--color-orange) */
}

.container {
    display: grid;
    grid-template-rows: auto;
    gap: var(--grid-gap);
    width: var(--width-full);
}

.navigation,
.footer {
    width: var(--width-full);
}


/* Navigation start */

.navigation {
    background-color: var(--background-color-navigation);
    height: 100px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.fixed {
    position: fixed;
    top: 0;
    z-index: 1000;
}

.menu-container {
    width: var(--width-12col);
    display: flex;
    align-items: center;
}

 .menu-container ul {
    display: flex;
    list-style: none;
    align-items: center;
    width: 100%;
}

.menu-container ul li a {
    padding: 0 36px 0 0;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--background-color-light);
    font-size: 20px;
    font-weight: 600;
}

.menu-container ul li:last-child {
    margin-left: auto;
}

.menu-container ul li:last-child a {
    color: var(--background-color-light);
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--color-orange);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 7px #00000033;
    border: none;
    text-decoration: none;
}

/* Navigation End */



 /* Footer Start */

.footer {
    background-color: var(--color-dark);
    height: 195px;
    margin-top: 200px;
    border-top: 15px solid var(--color-orange);
}

.footer-boxes {
    width: var(--width-12col);
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
.footer-box-one,
.footer-box-two,
.footer-box-three,
.footer-box-four {
    width: 25%;
    height: 100%;
}
.footer-box-one {
    width: var(--width-12col);
    height: 100%;
    display: flex;
    align-items: center;
    width: 25%;
}

.footer-box-one-img {
background-image: url('../img/skarntyden.png');
height: 50px;
width: 200px;
background-repeat: no-repeat;
background-size: contain;
background-position: center;
}

.footer-box-two {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-box-two svg {
    color: var(--background-color-light);
}

.footer-box-three {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-box-three-list ul {
    list-style: none;
}

.footer-box-three-list ul li a {
    padding: 0 36px 0 0;
    text-decoration: none;
    color: var(--background-color-light);
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
}

.footer-box-four {
    width: var(--width-12col);
    height: 100%;
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: end;
}

.footer-box-four-img {
background-image: url('../img/musikhuset-esbjerg.png');
height: 50px;
width: 200px;
background-repeat: no-repeat;
background-size: contain;
background-position: center;
}

 /* Footer End */


 /* Praktisk info side start */
.praktisk-info-container {
    background-color: var(--color-dark);
    width: var(--width-full);
    height: 700px;
}

.praktisk-info-forside {
    width: var(--width-12col);
    background-image: url('../img/praktiskinfo-skarntyden.png');
    height: 100%;
    margin: 0 auto;
    background-repeat: no-repeat;
}

 /* Praktisk info side slut */