@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

:root {
  /* Width Variables */
  --width-full: 100%;
  --width-12col: 1200px;

  /* Grid Settings */
  --grid-gap: 32px;
  --padding-default: 20px;

  /* Color swatches */
  --background-color-navigation: #0000003e;
  --background-color-light: #ededed;
  --color-dark: #1b1e2e;
  --color-orange: #db8127;
  --color-dark-blue: #1f3646;
}

* {
  /* Reset CSS */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  width: var(--width-full);
  font-family: 'Inter', sans-serif;
  font-size: 29px;
  font-weight: 400;
  font-style: normal;
  background-color: var(--color-dark);
  color: var(--color-dark);
}

ul {
  list-style: none;
}

h1,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

/*Button*/
.button {
  background-color: var(--color-orange);
  box-shadow: -4px 6px 20px 0 #00000015;
  border-radius: 5px;
  padding: 10px 30px;
  color: var(--background-color-light);
  text-transform: uppercase;
  text-align: center;
  font-family: Inter;
  font-size: 25px;
  font-weight: 600;
  list-style: none;
  text-decoration: none;
}

.button:hover {
  color: var(--color-dark-blue);
}

.container {
  display: grid;
  grid-template-rows: auto;
  gap: var(--grid-gap);
  width: var(--width-full);
}

.navigation,
.footer {
  width: var(--width-full);
}

/* Navigation start */

.navigation {
  background-color: var(--background-color-navigation);
  height: 100px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.fixed {
  position: fixed;
  top: 0;
  z-index: 1000;
}

.menu-container {
  width: var(--width-12col);
  display: flex;
  align-items: center;
}

.menu-container ul {
  display: flex;
  list-style: none;
  align-items: center;
  width: 100%;
}

.menu-container ul li a {
  padding: 0 36px 0 0;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--background-color-light);
  font-size: 20px;
  font-weight: 600;
}

.menu-container ul li:last-child {
  margin-left: auto;
}

.menu-container ul li:last-child a {
  color: var(--background-color-light);
  font-weight: 600;
  text-transform: uppercase;
  background-color: var(--color-orange);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 3px 3px 7px #00000033;
  border: none;
  text-decoration: none;
}

/* Navigation End */

/* HOME PAGE */

/* 1st screen */
.hero-section {
  margin: 0 auto;
}

.hero-top {
  background-image: url(/img/brødrene_løvehjerte_skarntyden.jpg);
  height: fit-content;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero-top-text {
  width: var(--width-12col);
  margin: 0 auto;
  padding: 240px 0px 140px 20px;
  display: flex;
  flex-direction: column;
  color: var(--background-color-light);
  justify-content: space-between;
  height: 100%;
}

.hero-top-text-upp {
  font-family: 'Source Serif 4', sans-serif;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  font-size: 25px;
  margin-bottom: -12px;
}

.hero-top-text h1 {
  font-family: 'Inter', sans-serif;
  font-size: 125px;
  font-weight: 700;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.12);
  text-transform: capitalize;
  line-height: 100px;
  margin-bottom: 20px;
}

.hero-top-text h1 span {
  font-size: 100px;
  font-weight: 700;
}

.hero-top-text h3 {
  color: #18243c;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  font-family: 'Source Serif 4', sans-serif;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 130px;
}

.hero-top-text ul li {
  font-family: 'Source Serif 4';
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 500;
}

/* 1st screen - end*/

/* Text - 2nd screen */

.hero-bottom {
  width: var(--width-12col);
  margin: 0 auto;
  padding-bottom: 160px;
  padding-left: var(--padding-default);
  padding-right: var(--padding-default);
}

.hero-bottom-text {
  padding: 60px 0px;
  color: var(--background-color-light);
  font-family: 'Inter';
  font-size: 36px;
  font-weight: 400;
  line-height: 55px;
  height: fit-content;
}

.hero-bottom-text span {
  color: var(--color-orange);
  font-weight: 700;
}

/* 2nd screen - end*/

/* Hvem - 3d screen*/

.hvem {
  border-top: solid 10px #db8127;
  background-color: var(--color-dark-blue);
}

.hvem-section {
  width: var(--width-12col);
  margin: 0 auto;
  color: var(--background-color-light);
  display: flex;
  justify-content: space-between;
  padding: 80px 20px 80px 20px;
}

.hvem-section-text {
  width: 50%;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hvem-section-text h2 {
  color: var(--color-orange);
  font-size: 55px;
  font-weight: 600;
  text-transform: uppercase;
}

.hvem-section-text ul {
  padding: 60px 100px 20px 30px;
}

.hvem-section-text ul li {
  margin-bottom: 20px;
  font-family: 'Source Serif 4';
  font-size: 30px;
  font-weight: 400;
  list-style: disc;
}

.hvem-section img {
  width: 50%;
  height: 520px;
  border: solid 1px var(--color-orange);
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
  display: block;
}

/* 3d screen - end*/

/*Hvorfor1 -  4d block*/

.hvorfor {
  background-image: url(/img/børn-besejrer-dragen_skarntyden.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 1000px;
  width: var(--width-full);
}

.hvorfor-top {
  width: var(--width-12col);
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 440px 20px 0 20px;
  align-items: center;
}

.hvorfor-top-text {
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  color: var(--color-dark);
  justify-content: space-between;
  text-align: start;
  text-transform: uppercase;
}

.hvorfor-top-text h2 {
  font-size: 73px;
  font-weight: 700;
}

.hvorfor-top-text-p {
  font-size: 45px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.hvorfor-top-text span {
  display: none;
}

/* 4d block - end*/

/* Hvorfor2  - 5d block*/

.hvorfor-section ul {
  width: var(--width-12col);
  margin: 0 auto;
  display: flex;
  color: var(--color-dark);
  justify-content: space-between;
  padding: 60px 20px;
  gap: var(--grid-gap);
  flex-wrap: nowrap;
}

.hvorfor-section ul li {
  background-color: var(--color-orange);
  padding: 60px 30px;
  width: calc((100% - var(--grid-gap) * 2) / 3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Source Serif 4';
  color: var(--color-dark);
  font-size: 30px;
  gap: var(--grid-gap);
  border-radius: 5px;
}

.hvorfor-persone-p {
  font-style: italic;
  font-weight: 400;
}

.hvorfor-persone {
  font-weight: 700;
}

/* 5d block - end*/

/* Vores teater- 6d block */
.teater {
  background-color: var(--background-color-light);
  border-top: solid 10px var(--color-orange);
  padding: 60px 0;
}

.teater-text {
  width: var(--width-12col);
  margin: 0 auto;
}

.teater-text h2 {
  margin-bottom: 50px;
  color: var(--color-orange);
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
}

.teater-text p {
  font-family: 'Source Serif 4';
  font-size: 30px;
  font-weight: 400;
}

.teater-text a {
  font-family: 'Source Serif 4';
  font-size: 30px;
  font-weight: 500;
  color: var(--color-orange);
}

.teater-foto {
  width: var(--width-12col);
  height: 550px;
  margin: 20px auto 60px auto;
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: repeat(12, 1fr);
}

.teater-foto img {
  border: solid 1px var(--color-orange);
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.teater-foto-1column {
  grid-column: 1 / span 5;
  display: flex;
}

.teater-foto-2column {
  grid-column: 6 / span 2;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: var(--grid-gap);
}

.teater-foto-3column {
  grid-column: 8 / span 3;
  display: grid;
  grid-template-rows: 0.6fr 1fr;
  gap: var(--grid-gap);
}

.teater-foto-4column {
  grid-column: 11 / span 2;
}

/*6 block - end*/
/* HOME PAGE-End */

/* Footer Start */

.footer {
  background-color: var(--color-dark);
  height: 195px;
  border-top: 15px solid var(--color-orange);
}

.footer-boxes {
  width: var(--width-12col);
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.footer-box-one,
.footer-box-two,
.footer-box-three,
.footer-box-four {
  width: 25%;
  height: 100%;
}

.footer-box-one {
  width: var(--width-12col);
  height: 100%;
  display: flex;
  align-items: center;
  width: 25%;
}

.footer-box-one-img {
  background-image: url('../img/skarntyden.png');
  height: 50px;
  width: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.footer-box-two {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-box-two svg {
  color: var(--background-color-light);
}

.footer-box-three {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-box-three-list ul {
  list-style: none;
}

.footer-box-three-list ul li a {
  padding: 0 36px 0 0;
  text-decoration: none;
  color: var(--background-color-light);
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
}

.footer-box-four {
  width: var(--width-12col);
  height: 100%;
  display: flex;
  align-items: center;
  width: 25%;
  justify-content: end;
}

.footer-box-four-img {
  background-image: url('../img/musikhuset-esbjerg.png');
  height: 50px;
  width: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* Footer End */

/* Praktisk info side start */
.praktisk-info-container {
  background-color: var(--color-dark);
  width: var(--width-full);
  height: 700px;
}

.praktisk-info-forside {
  width: var(--width-12col);
  background-image: url('../img/praktiskinfo-skarntyden.png');
  height: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
}

/* Footer End */

/* Praktisk info side start */

.info-hero {
  background-color: var(--color-dark);
  color: var(--background-color-light);
  padding: 80px 0 0 0;
  border-bottom: 10px solid var(--color-orange);
}

.info-hero-container {
  width: var(--width-12col);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 60px;
}

.info-hero-text h1 {
  font-family: 'inter', sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.5;
}

.info-hero-image img {
  width: 100%;
  height: auto;
  padding-top: 20px;
}

/* Praktisk info side start */

/* Hero section start */
.info-hero {
  background-color: var(--color-dark);
  color: var(--background-color-light);
  padding: 80px 0 0 0;
  border-bottom: 10px solid var(--color-orange);
}

.info-hero-container {
  width: var(--width-12col);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 60px;
}

.info-hero-text h1 {
  font-family: 'inter', sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.5;
}

.info-hero-image img {
  width: 100%;
  height: auto;
  padding-top: 20px;
}

/* info detail section */

.info-details {
  height: 966px;
  width: var(--width-full);
  background-color: var(--color-dark-blue);
  border-bottom: 10px solid var(--color-orange);
}

.info-details-container-text {
  width: var(--width-12col);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.info-details-item {
  width: 25%;
  padding: 100px 20px;
}

.info-details-item h2 {
  color: var(--color-orange);
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 30px;
}

.info-details-item p {
  color: var(--background-color-light);
  font-family: 'Source Serif 4', serif;
  font-size: 30px;
  line-height: 40px;
}

.info-details-container-box {
  width: var(--width-12col);
  margin: 0 auto;
  height: 360px;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  overflow: hidden;
}

.info-details-container-box-image {
  width: 50%;
  background-image: url(../img/brødrene_løvehjerte_skarntyden.jpg);
  height: 360px;
  background-position: center;
  background-size: cover;
  border: solid 1px var(--color-orange);
}

.info-details-container-box-text {
  width: 50%;
  background-color: var(--background-color-light);
  padding: 30px 27px;
  font-family: 'Source Serif 4', serif;
  font-weight: 500;
}

.info-details-container-box-text p {
  margin-bottom: 50px;
}

.info-details-container-ticket {
  width: var(--width-12col);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 80px 0;
}

.info-details-container-ticket-buy {
  color: var(--background-color-light);
  font-weight: 600;
  text-transform: uppercase;
  background-color: var(--color-orange);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 3px 3px 7px #00000033;
  border: none;
  text-decoration: none;
}

.info-details-container-ticket-buy ul li a {
  display: flex;
  list-style: none;
  align-items: center;
  width: 100%;
  color: var(--background-color-light);
  text-decoration: none;
}

/* FAQ section */

.faq {
  width: var(--width-full);
  height: 1209px;
  background-color: var(--background-color-light);
  border-bottom: 10px solid var(--color-orange);
}

.faq-text {
  width: var(--width-12col);
  margin: 0 auto;
  padding: 100px 0;
}

.faq-text h3 {
  color: var(--color-orange);
  font-size: 55px;
  font-weight: 600;
  margin-bottom: 20px;
}

.faq-text h5 {
  font-size: 30px;
  font-family: 'Source Serif 4', serif;
  margin-top: 70px;
}

.faq-text h5:first-of-type {
  margin-top: 0;
}

.faq-text p {
  font-family: 'Source Serif 4', serif;
  font-size: 28px;
  margin-top: 20px;
}

.faq-text ul {
  list-style-type: none;
  padding-left: 0;
}

.faq-text ul li {
  font-family: 'Source Serif 4', serif;
  font-size: 28px;
  margin-top: 10px;
  padding-left: 20px;
  position: relative;
}

.faq-text ul li::before {
  content: '- ';
  position: absolute;
  left: 0;
}

/* Find os her section */
.find-os {
  width: var(--width-full);
  height: 1100px;
  background-color: var(--color-dark-blue);
}

.find-os-container {
  width: var(--width-12col);
  margin: 0 auto;
  padding: 80px 0;
  color: var(--background-color-light);
}

.find-os-text-one h3 {
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.find-os-text-one p {
  font-family: 'Source Serif 4', serif;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 60px;
}

.find-os-text-two p {
  font-family: 'Source Serif 4', serif;
  font-size: 30px;
  line-height: 40px;
  margin: 30px 0 60px 0;
}

.find-os-ticket-buy {
  color: var(--background-color-light);
  font-weight: 600;
  text-transform: uppercase;
  background-color: var(--color-orange);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 3px 3px 7px #00000033;
  border: none;
  text-decoration: none;
  width: fit-content;
  margin: 0 auto;
}

.find-os-ticket-buy ul li a {
  display: flex;
  list-style: none;
  align-items: center;
  color: var(--background-color-light);
  text-decoration: none;
}

/* Praktisk info side slut */

/* Om Skarntyden start */

/* Hero section start */

.hero-top-om {
  background-image: url(../img/menneskerne-bag-brødrene-løvehjerte.jpg);
  width: var(--width-full);
  height: 900px;
  border-bottom: 10px solid var(--background-color-light);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-top-text-om-h1 {
  color: var(--background-color-light);
  width: var(--width-12col);
  justify-content: center;
  display: flex;
  height: 900px;
  padding-top: 200px;
  text-transform: uppercase;
  margin: 0 auto;
  font-size: 54px;
}

/* Text info one start */

.text-info-one {
  width: var(--width-full);
  height: 556px;
  background-color: var(--color-orange);
}

.text-info-one-text {
  width: var(--width-12col);
  margin: 0 auto;
  padding: 120px 0;
}

.text-info-one-text p {
  margin-bottom: 50px;
  font-family: 'Source Serif 4', serif;
}

/* One image info start */

.one-image-info {
  width: var(--width-full);
  background-color: var(--background-color-light);
  height: 808px;
  border-bottom: 10px solid var(--color-orange);
}

.one-image-info-container {
  width: var(--width-12col);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: 115px 0;
  gap: 40px;
}

.one-image-info-text {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.one-image-info-text h2 {
  font-family: 'Inter', sans-serif;
  font-size: 42px;
  text-transform: uppercase;
  margin-bottom: 70px;
  color: var(--color-orange);
}

.one-image-info-text p {
  font-family: 'Source Serif 4', serif;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 60px;
}

.one-image-info-image {
  width: 606px;
  height: 568px;
  background-image: url(../img/theater-gardin.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
}

/* Multiple image start */

.multiple-image-info {
  width: var(--width-full);
  background-color: var(--color-dark-blue);
  height: 1130px;
}

.multiple-image-info-container {
  width: var(--width-12col);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 115px 0;
  gap: 40px;
}

.multiple-image-container-text-one,
.multiple-image-container-text-two {
  color: var(--background-color-light);
}

.multiple-image-container-text-one h2 {
  font-size: 60px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.multiple-image-container-text-one p {
  font-family: 'Source Serif 4', serif;
  font-size: 30px;
  line-height: 40px;
  margin-top: 60px;
}

.multiple-image-container-image {
  width: var(--width-12col);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  height: 540px;
}

.multiple-image-container-image-one,
.multiple-image-container-image-two-img-one,
.multiple-image-container-image-two-img-two,
.multiple-image-container-image-three {
  border: solid 1px var(--color-orange);
  border-radius: 5px;
}

.multiple-image-container-image-one {
  width: 45%;
  background-image: url(../img/fire-mennesker-i-kostumer.jpg);
  background-position: -6rem;
  background-size: cover;
  margin-right: 30px;
}

.multiple-image-container-image-two {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.multiple-image-container-image-two-img-one {
  height: 33%;
  background-image: url(../img/to-mennesker-i-kostumer.jpg);
  background-position: -20px top;
  background-size: 140%;
  margin-bottom: 30px;
}

.multiple-image-container-image-two-img-two {
  height: 67%;
  background-image: url(../img/mennesker-i-kostumer.jpg);
  background-position: center;
  background-size: cover;
}

.multiple-image-container-image-three {
  width: 25%;
  background-image: url(../img/mand-på-en-stol-i-kostume.jpg);
  margin-left: 30px;
  background-size: 170%;
  background-position: bottom center;
}

.multiple-image-container-text-two h4 {
  font-family: 'Source Serif 4', serif;
  font-size: 32px;
  font-weight: 600;
}

/* No image info two start */

.no-image-section-two {
  width: var(--width-full);
  background-color: var(--background-color-light);
  height: 678px;
}

.no-image-section-two-container {
  width: var(--width-12col);
  margin: 0 auto;
  padding: 100px 0;
}

.no-image-section-two-container h3 {
  color: var(--color-orange);
  font-size: 55px;
  font-weight: 600;
  margin-bottom: 80px;
}

.no-image-section-two-container p {
  font-family: 'Source Serif 4', serif;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 40px;
}

.her-button {
  color: var(--color-orange);
  font-weight: 600;
}

.media-button {
  color: var(--color-dark);
  font-weight: 600;
}

/* Om Skarntyden slut */
