@media (width < 501px) {
  :root {
    --width-12col: 100%;

    --grid-gap: 16px;
  }

  body,
  html {
    font-size: 20px;
  }

  .button {
    font-size: 20px;
    font-weight: 600;
  }


  /* Home-page - Start */

  /* HERO - :start */

  .hero-top {
    height: 720px;
  }

  .hero-top-text {
    padding: 170px 0px 40px 20px;
  }

  .hero-top-text-upp {
    font-size: 16px;
    margin-bottom: -8;
  }

  .hero-top-text h1 {
    font-size: 55px;
    margin-bottom: 0;
    line-height: 1.1;
    margin-bottom: 10px;
  }

  .hero-top-text h1 span {
    font-size: 45px;
  }

  .hero-top-text h3 {
    font-size: 20px;
    margin-bottom: 40px;
    width: 65%;
  }

  .hero-top-text ul li {
    margin-bottom: 10px;
    font-size: 20px;
  }


  /* HERO - end */

  /* Text - 2nd screen */


  .hero-bottom-text {
    font-size: 26px;
    line-height: 1.5;
  }

  .hero-bottom {
    padding-bottom: 100px;
    padding-left: 20px;
  }


  /* Text - 2nd screen - end */






  /* Home-page - end */

  /* Om Skarntyden start */

  /* Hero section */

  .hero-top-text-om-h1 {
    text-align: center;
    font-size: 35px;
    padding: 120px 0px 40px 20px;
  }

  /* Text info one */

  .text-info-one-text {
    padding: 90px 20px;
  }

  /* One image section */

  .one-image-info-container {
    flex-direction: column;
    padding: 40px 20px 0 20px;
  }

  .one-image-info-container h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .one-image-info-container p {
    font-size: 20px;
    margin-bottom: 15px;
    line-height: 1.5;
  }

  .one-image-info-image {
    height: 380px;
    width: var(--width-12col);
  }

}