@media (width < 501px) {
  :root {
    --width-12col: 100%;

    --grid-gap: 16px;
  }

  body,
  html {
    font-size: 20px;
  }

  .button {
    font-size: 20px;
    font-weight: 600;
  }

  /* Home-page - Start */

  /* HERO - :start */

  .hero-top {
    height: 720px;
  }

  .hero-top-text {
    padding: 170px 0px 40px 20px;
  }

  .hero-top-text-upp {
    font-size: 16px;
    margin-bottom: -8;
  }

  .hero-top-text h1 {
    font-size: 55px;
    margin-bottom: 0;
    line-height: 1.1;
    margin-bottom: 10px;
  }

  .hero-top-text h1 span {
    font-size: 45px;
  }

  .hero-top-text h3 {
    font-size: 20px;
    margin-bottom: 40px;
    width: 65%;
  }

  .hero-top-text ul li {
    margin-bottom: 10px;
    font-size: 20px;
  }

  /* HERO - end */

  /* Text - 2nd screen */

  .hero-bottom-text {
    font-size: 26px;
    line-height: 1.5;
  }

  .hero-bottom {
    padding-bottom: 100px;
    padding-left: 20px;
  }

  /* Text - 2nd screen - end */

  /* Hvem - 3d screen */

  .hvem {
    padding: 60px 0 0 20px;
  }

  .hvem-section {
    flex-direction: column-reverse;
    padding: 60px 20px 60px 20px;
  }

  .hvem-section-text {
    width: 100%;
    height: 100%;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hvem-section-text h2 {
    font-size: 40px;
  }

  .hvem-section-text ul {
    padding: 60px 30px 20px 30px;
  }

  .hvem-section-text ul li {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 1.5;
  }

  .hvem-section img {
    width: 100%;
    height: 300px;
    margin-bottom: 60px;
  }

  /* Hvem - 3d screen - end */


  /* Home-page - end */

}