@media (width < 501px) {
  :root {
    --width-12col: 100%;
    --grid-gap: 16px;
    --padding-default: 20px;

    /* Color swatches */
    --background-color-navigation: #0000003e;
    --background-color-light: #ededed;
    --color-dark: #1b1e2e;
    --color-orange: #db8127;
    --color-dark-blue: #1f3646;
  }

  body,
  html {
    font-size: 20px;
  }

  .button {
    font-size: 20px;
    font-weight: 600;
  }


  /* Navigation */

  .navigaion {
    width: 500px;
  }

  .menu-container ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-container ul li a {
    padding: 8px 12px;
    font-size: 18px;
    align-items: center;
    justify-content: center;
  }

  .menu-container ul li:last-child {
    display: none;
  }



  /* Footer start */

  .footer {
    height: 140px;
  }

  .footer-boxes {
    padding: 0 20px;
  }

  .footer-box-three-list ul li a {
    font-size: 12px;
    line-height: 20px;
  }


  /* Home-page - Start */

  /* HERO - :start */

  .hero-top {
    height: 720px;
  }

  .hero-top-text {
    padding: 170px 0px 40px 20px;
  }

  .hero-top-text-upp {
    font-size: 16px;
    margin-bottom: -8;
  }

  .hero-top-text h1 {
    font-size: 55px;
    margin-bottom: 0;
    line-height: 1.1;
    margin-bottom: 10px;
  }

  .hero-top-text h1 span {
    font-size: 45px;
  }

  .hero-top-text h3 {
    font-size: 20px;
    margin-bottom: 40px;
    width: 65%;
  }

  .hero-top-text ul li {
    margin-bottom: 10px;
    font-size: 20px;
  }

  /* HERO - end */

  /* Text - 2nd screen */

  .hero-bottom-text {
    font-size: 26px;
    line-height: 1.5;
  }

  .hero-bottom {
    padding-bottom: 100px;
    padding-left: 20px;
  }

  /* Text - 2nd screen - end */

  /* Hvem - 3d screen */

  .hvem {
    padding: 60px 0 0 20px;
  }

  .hvem-section {
    flex-direction: column-reverse;
    padding: 60px 20px 60px 20px;
  }

  .hvem-section-text {
    width: 100%;
    height: 100%;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hvem-section-text h2 {
    font-size: 38px;
  }

  .hvem-section-text ul {
    padding: 60px 30px 20px 30px;
  }

  .hvem-section-text ul li {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 1.5;
  }

  .hvem-section img {
    width: 100%;
    height: 300px;
    margin-bottom: 60px;
  }

  /* Hvem - 3d screen - end */

  /* Hvofor.1 - 4d screen */

  .hvorfor {
    height: 700px;
  }

  .hvorfor-top {
    height: 100%;
    padding: 100px 0 0 0;
    align-items: center;
    width: 100%;
  }

  .hvorfor-top-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--background-color-light);

    flex-grow: 2;
    padding-bottom: 40px;
  }

  .hvorfor-top-text h2 {
    font-size: 38px;
    text-align: center;
    background-color: #1b1e2e60;
  }

  .hvorfor-top-text-p-dn {
    display: none;
  }

  .hvorfor-top-text-p-mob {
    font-size: 25px;
    text-align: center;
  }

  /* Hvofor - 4d screen - end */

  /* Hvofor.2 - 5d screen */

  .hvorfor-section ul {
    flex-direction: column;
  }

  .hvorfor-section ul li {
    width: 100%;
    min-height: 200px;
    font-size: 22px;
  }

  /* Hvofor.2 - 5d screen - end */

  /* Vores teater - 6d screen */

  .teater-text {
    padding: 40px 20px;
  }

  .teater-text h2 {
    font-size: 40px;
  }

  .teater-text p {
    font-size: 22px;
  }

  .teater-text a {
    font-size: 22px;
  }

  .teater-foto {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
  }

  .teater-foto-2column,
  .teater-foto-4column {
    display: none;
  }

  /* Vores teater - 6d screen - end */

  /* HOME-page - end */


  /* Praktisk Info start */

  /* Hero section start */

  .info-hero {
    width: 500px;
  }

  .info-hero-text {
    width: 500px;
    padding: 0 20px;
  }

  .info-hero-text h1 {
    font-size: 55px;
    padding: 0 20px;
  }

  /* Info detail section */

  .info-details {
    height: 650px;
    width: 500px;
  }

  .info-details-container {
    padding: 0 20px;
    height: 550px;
  }

  .info-details-container-text {
    flex-direction: column;
  }

  .info-details-item {
    padding: 10px 0 0 0;
  }

  .info-details-item h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .info-details-item p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 15px;
  }

  .info-details-container-box {
    flex-direction: column;
  }

  .info-details-container-box-image {
    display: none;
  }

  .info-details-container-box-text {
    display: none;
  }

  .info-details-container-ticket {
    display: none;
  }


  /* FAQ section */


  .faq,
  .faq-text {
    width: 500px;
    padding: 0 45px 0 20px;
  }

  .faq-text h3 {
    font-size: 40px;
    padding-top: 10px;
  }

  .faq-text h5 {
    font-size: 25px;
  }

  .faq-text p {
    font-size: 20px;
  }

  .faq-text ul li {
    font-size: 20px;

  }


  /* find os section */

  .find-os {
    justify-content: center;
    width: 500px;
  }

  .find-os-embed-map {
    display: none;
  }

  .find-os-text-one h3 {
    padding: 0 20px;
    font-size: 25px;
  }

  .find-os-text-one p {
    font-size: 20px;
    padding: 0 20px;
  }

  .find-os-embed-map {
    padding: 0 20px;
    width: 400px;
  }

  .find-os-text-two p {
    font-size: 20px;
    padding: 0 20px;
    width: 450px;
  }

  .find-os-ticket-buy {
    justify-content: center;
    margin:0 auto;
  }

  /* Praktisk Info end */


  /* Om Skarntyden start */

  /* Hero section */

  .hero-top-text-om-h1 {
    text-align: center;
    font-size: 35px;
    padding: 120px 0px 40px 20px;
  }

  /* Text info one */

  .text-info-one-text {
    padding: 90px 20px;
  }

  /* One image section */

  .one-image-info-container {
    flex-direction: column;
    padding: 40px 20px 0 20px;
  }

  .one-image-info-container h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .one-image-info-container p {
    font-size: 20px;
    margin-bottom: 15px;
    line-height: 1.5;
  }

  .one-image-info-image {
    height: 380px;
    width: var(--width-12col);
  }


  /* Multiple image section */

  .multiple-image-info {
    height: 750px;
  }

  .multiple-image-info-container {
    padding: 40px 20px 0 20px;
    height: 750px;
  }

  .multiple-image-container-text-one h2 {
    font-size: 30px;
    margin-bottom: 0px;
  }

  .multiple-image-container-text-one p {
    font-size: 20px;
    margin-top: 15px;
  }

  .multiple-image-container-image {
    height: 300px;
  }

  .multiple-image-container-image-one,
  .multiple-image-container-image-two {
    width: 50%;
    height: 300px;
  }

  .multiple-image-container-image-three {
    display: none;
  }

  .multiple-image-container-text-two h4 {
    font-size: 18px;
  }

  /* No image info two */

  .no-image-section-two {
    height: auto;
  }

  .no-image-section-two-container {
    padding: 30px 20px;
  }

  .no-image-section-two-container h3 {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .no-image-section-two-container p {
    font-size: 20px;
    line-height: 1.5;
  }


}